*.log
*.pot
*.pyc
scripts/*
r2d2/local_settings.py
r2d2/site_media/*
project_name/local_settings.py
project_name/site_media/*
.project
.pydevproject
.settings
*.idx
*.swp
*.idx/
*.sql3
*.pid
*.db
*~
.DS_Store
*.rdb
.directory
schema.xml
*.backup
# PyCharm
.idea
reports/*
dump.*
backups/*
.sass-cache
.coverage
temp.css
/nbproject/private/
*.sublime-project
*.sublime-workspace
.venv