*.log
*.pot
*.pyc
r2d2/local_settings.py
r2d2/site_media/*
project_name/local_settings.py
project_name/site_media/*
.project
.pydevproject
.settings
*.idx
*.swp
*.idx/
*.sql3
*.pid
*.db
*~
.DS_Store
*.rdb
.directory
schema.xml
*.backup
# PyCharm
.idea
reports/*
dump.*
backups/*
.sass-cache
.coverage
temp.css
/nbproject/private/
*.sublime-project
*.sublime-workspace
.venv
mongodata/_mdb_catalog.wt
mongodata/mongod.lock
mongodata/sizeStorer.wt
mongodata/storage.bson
mongodata/WiredTiger
mongodata/WiredTiger.lock
mongodata/WiredTiger.turtle
mongodata/WiredTiger.wt
mongodata/WiredTigerLAS.wt
mongodata/diagnostic.data/metrics.2016-07-26T18-52-49Z-00000
mongodata/journal/WiredTigerLog.0000000001
mongodata/journal/WiredTigerPreplog.0000000001
mongodata/journal/WiredTigerPreplog.0000000002
mongodata/local/collection-0--5864509133628972219.wt
mongodata/local/index-1--5864509133628972219.wt
