aafigure==0.5
alabaster==0.7.10
amqp==1.4.9
anyjson==0.3.3
appdirs==1.4.3
Babel==2.4.0
BeautifulSoup==3.2.1
billiard==3.3.0.23
boto==2.40.0
celery==3.1.23
colorama==0.3.7
contactbox==0.1.8
contextlib2==0.5.4
coverage==4.0.3
cssselect==1.0.1
cssutils==1.0.2
decorator==4.0.11
Django==1.8.11
django-appconf==1.0.2
django-basic-cms==0.3.12
django-celery==3.1.17
django-celery-email==1.1.4
django-compressor==2.0
django-constance==1.1.2
django-cors-headers==1.1.0
django-extensions==1.6.1
django-filebrowser==3.6.2
django-filter==0.12.0
django-grappelli==2.8.1
django-jenkins==0.18.1
django-localflavor==1.4.1
django-money-rates==0.3.1
django-mongoengine==0.2.2
django-mptt==0.8.3
django-passwords==0.3.7
django-picklefield==0.3.2
django-rest-swagger==0.3.5
django-storages-redux==1.3.2
django-su==0.5.0
django-taggit==0.18.0
django-templateaddons==0.1
django-tinymce==2.2.0
django-transaction-hooks==0.2
djangorestframework==3.3.3
docutils==0.13.1
ecdsa==0.13
enum34==1.1.6
etsy==0.3.1
Fabric==1.12.0
flup==1.0.2
freezegun==0.3.6
funcsigs==1.0.2
html5lib==1.0b8
httplib2==0.10.3
httpretty==0.8.14
imagesize==0.7.1
ipython==4.1.2
ipython-genutils==0.2.0
Jinja2==2.9.5
kombu==3.0.37
librabbitmq==1.6.1
lxml==3.5.0
MarkupSafe==1.0
mock==1.3.0
mongoengine==0.10.6
MySQL-python==1.2.5
mysqlclient==1.3.10
numpy==1.12.1
oauth2==1.9.0.post1
packaging==16.8
pandas==0.18.1
paramiko==1.18.2
pathlib2==2.2.1
pbr==2.0.0
pep8==1.7.0
pickleshare==0.7.4
Pillow==3.1.1
premailer==2.9.7
py-moneyed==0.6.0
pyactiveresource==2.1.2
pycrypto==2.6.1
pyflakes==1.1.0
Pygments==2.2.0
pymongo==3.2.2
pyparsing==2.2.0
python-dateutil==2.6.0
python-memcached==1.57
pytz==2016.10
PyYAML==3.12
raven==5.11.0
rcssmin==1.0.6
requests==2.9.1
requests-mock==0.7.0
rjsmin==1.0.12
scandir==1.5
ShopifyAPI==2.1.5
simplegeneric==0.8.1
simplejson==3.10.0
six==1.10.0
snowballstemmer==1.2.1
sorl-thumbnail==12.3
Sphinx==1.5.3
sphinxcontrib-aafig==1.0
sqlparse==0.2.2
traitlets==4.3.2
ydcommon==0.1.44
