{% extends "emails/email_redesign_base.html" %}
{% load i18n pages_tags %}
{% block body_content %}
    <table class="container text-center" width="760">
      <tbody>
        <tr>
            <td>
                <table cellpadding="0" cellspacing="0" class="header">
                    <tr>
                        <td class="logo"><img src="https://r2d2-dev-arabella.s3.amazonaws.com/upload/page_5/logo-1465212086.0-r2logo2.jpg" alt=""></td>
                        <!--<td class="logo-right_text">We’ve taken a look at your sales activity and have a new insight ready for you.  Take a look below.  You can also view it directly in the <a href="{{ protocol }}{{ client_domain }}/insights">Hello Sales Dashboard</a>.</td>-->
                        <!--<td class="logo-right_text">We’ve taken a look at your {{ channel_names }} sales activity from {{ time_period }} and have a new insight ready for you.  You can always view all insights in your <a href="{{ protocol }}{{ client_domain }}/insights">Hello Sales dashboard</a>.</td>-->
                        <td class="logo-right_text">{{ header_text }} <a href="{{ protocol }}{{ client_domain }}/insights">Hello Sales dashboard</a>.</td>
                    </tr>
                </table>
                <table cellpadding="0" cellspacing="0">
                    <tr><td><img src="https://r2d2-dev-arabella.s3.amazonaws.com/upload/page_5/tabletop-1465212087.39-table-top.jpg" alt=""></td></tr>
                    <tr>
                        <td class="content">
                            <p>{%autoescape off%}{{ insight.text }}{%endautoescape%}</p>
                            <p>
                                {% for attachment in insight.attachments.all %}
                                    {% if not attachment.is_image %}
                                        <a href="{{ protocol }}{{ client_domain }}/download/{{ attachment.id }}" download>{{ attachment.file_name }}</a><br>
                                    {% endif %}
                                {% endfor %}
                            </p>
                            {% for attachment in insight.attachments.all %}
                                {% if attachment.is_image %}
                                    <img src="{{ attachment.file.url }}" alt="{{ attachment.file_name }}"/>
                                {% endif %}
                            {% endfor %}
                        </td>
                    </tr>
                    <tr><td><img src="https://r2d2-dev-arabella.s3.amazonaws.com/upload/page_5/tablebottom-1465212087.87-table-bottom.jpg" alt=""></td></tr>
                </table>
                <table cellpadding="0" cellspacing="0" width="100%">
                    <tr>
                        <td class="bottom_text">This is an automated message - please do not reply to this email.</td>
                    </tr>
                </table>
            </td>
        </tr>
      </tbody>
    </table>
{% endblock body_content %}
