{% extends 'email.html'%}
{% load i18n pages_tags %}
{% block body_content %}
    <table class="container text-center">
      <tbody>
        <tr>
          <td>
            <table class="row header">
              <tbody>
                <tr>
                  <th class="small-12 large-12 columns first last">
                    <table>
                      <tr>
                        <th>
                          <h3 class="text-center">R2D2</h3> </th>
                          <th class="expander"></th>
                      </tr>
                    </table>
                  </th>
                </tr>
              </tbody>
            </table>
            <table class="row">
              <tbody>
                <tr>
                  <th class="small-12 large-12 columns first last">
                    <table>
                      <tr>
                        <th>
                          <br>
                          <h1 class="text-center">Welcome to R2D2</h1>
                          <br>
                          <p class="text-center">We will notify you by email when your account has been active.</p>
                        </th>
                        <th class="expander"></th>
                      </tr>
                    </table>
                  </th>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
      </tbody>
    </table>
{% endblock body_content %}
